<!DOCTYPE html>
<html>
<head>
    <title>Body-Parser Module Demo</title>
</head>
 
<body>
    <h1>Demo Form</h1>
 
    <form action="signup" method="POST">
        <pre>
            Enter your username : <input type="text"
                                      name="username"> <br>
            Enter your password : <input type="password"
                                      name="password"> <br>
                                 
            <input type="submit" value="Submit Form">
        </pre>
    </form>
</body>
</html>